<nav role="navigation">
  <ul class="group">
    <li id="t-home"><a href="/"><strong>Home</strong></a></li>
    <li id="t-work"><a href="/work"><strong>Work</strong></a></li>
    <li id="t-about"><a href="/about"><strong>About</strong></a></li>
  </ul>
</nav>