<h4>Jason Melgoza | Interface Designer</h4>
<p>My name is Jason Melgoza and I’m a user interface designer/developer working for the University of California, Merced.</p>
<p>I pride myself on creating pixel-perfect designs for desktop and mobile devices, while giving the user the best experience possible.</p>
<p>Unfortunately, I am unavailable to take on new projects at this moment in time, but please feel free to email me regarding anything else.</p>
